/* MESSAGING APP */
.air__messaging {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

@media (max-width: 767px) {
    .air__messaging {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

.air__messaging__sidebar {
    width: 16.66rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

@media (max-width: 767px) {
    .air__messaging__sidebar {
        width: auto;
    }
}

.air__messaging__searchIcon {
    position: absolute;
    color: #c3bedc;
    font-size: 1.13rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 1rem;
}

.air__messaging__searchInput {
    border: 1px solid #e4e9f0;
    border-radius: 5px;
    background-color: #fff;
    padding-left: 3rem;
    padding-right: 1.33rem;
    padding-top: 0.33rem;
    padding-bottom: 0.26rem;
    width: 100%;
}

.air__messaging__dialogItems {
    height: 100%;
}

@media (max-width: 767px) {
    .air__messaging__dialogItems {
        max-height: 16rem;
        margin-bottom: 1rem;
    }
}

.air__messaging__dialogItem {
    padding: 0.66rem;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.air__messaging__dialogItem:last-child {
    margin-bottom: 0;
}

.air__messaging__dialogItem:hover {
    background-color: #f9fafc;
}

.air__messaging__dialogItem--current {
    background-color: #f2f4f8;
}

.air__messaging__dialogItem--current:hover {
    background-color: #f2f4f8;
}

.air__messaging__dialogInfo {
    min-width: 0;
}

.air__messaging__dialogBadge {
    min-width: 15px;
}
