.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

## System
/system/sessions/

## storage
storage/thumbs/
storage/temp/
storage/files/*
!storage/files/index.html
storage/images/*
!storage/images/index.html

/vendor/
.env

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

## VSCode
.vscode