/* PRICING TABLES */
.air__pricingTable__items--separated {
    overflow: hidden;
}

.air__pricingTable__items--separated .air__pricingTable__item {
    margin-right: -1px;
    border-right: 1px solid #e4e9f0;
    border-radius: 0;
}

.air__pricingTable__item {
    border-radius: 5px;
}
