/* WIDGET GENERAL */
.air__g5__footer {
    border-top: 1px solid #e4e9f0;
}

.air__g6 {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.air__g6__status {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    width: 6px;
    z-index: 1;
}

.air__g8__items {
    margin-left: -0.34rem;
    margin-right: -0.34rem;
    margin-bottom: -0.67rem;
}

.air__g8__item {
    -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3);
    padding-left: 0.33rem;
    padding-right: 0.33rem;
    margin-bottom: 0.66rem;
    border-radius: 5px;
    overflow: hidden;
}

.air__g8__item img {
    width: 100%;
    height: auto;
}

.air__g9__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}

.air__g11__centerBtn {
    margin-top: -2rem;
}

.air__g13__head {
    background-image: url("../core/img/content/stars.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 5px 5px 0 0;
}

.air__g13-1__head {
    background-image: url("../core/img/content/flowers.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 5px 5px 0 0;
}

.air__g14__closeBtn {
    padding: 0;
    border: none;
}

.air__g14__contentWrapper {
    padding-right: 15px;
}

.air__g14__message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 1rem;
    overflow: hidden;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.air__g14__message--answer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

.air__g14__message--answer .air__g14__messageAvatar {
    margin-left: 0;
    margin-right: 1rem;
}

.air__g14__message--answer .air__g14__messageContent::before {
    left: auto;
    right: 100%;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 4px solid #f2f4f8;
    border-left: none;
}

.air__g14__messageAvatar {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: 1rem;
}

.air__g14__messageContent {
    background-color: #f2f4f8;
    position: relative;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.air__g14__messageContent::before {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 16px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 4px solid #f2f4f8;
    border-right: none;
}

.air__g15__contentContainer {
    border-bottom: 1px solid #e4e9f0;
}
