/* JIRA */
.air__jira__agile__boardCards {
    list-style: none;
    margin: 0;
    padding: 0;
}

.air__jira__agile__card {
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 5px rgba(22, 22, 53, 0.16);
            box-shadow: 0 3px 5px rgba(22, 22, 53, 0.16);
    margin-bottom: 1rem;
    padding: 0.33rem;
    min-height: 2.66rem;
    cursor: move;
}

.air__jira__agile__cardContent {
    padding-left: 1rem;
    position: relative;
}

.air__jira__agile__cardFlag {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #dde2ec;
    width: 3px;
    border-radius: 2px;
}

.air__jira__agile__emptyBoard {
    border: 1px dashed #c3bedc;
    min-height: 5.33rem;
    background-color: #f2f4f8;
    border-radius: 6px;
}
