/* 
*
* Nestable button custom
*/

.nestable-ctn {
    top: 3px;
    position: absolute;
    right: 10px;
    left: auto;
}


/* 
*
* parsley validation
*/

.parsley-error,
.parsley-error:focus {
    border-color: #da4453;
}

.parsley-errors-list.filled {
    padding: 5px;
    list-style: none;
    padding-left: 0px;
    width: 100%;
}

ul.parsley-errors-list {
    padding: 0;
}

.parsley-errors-list.filled li {
    color: #cc0000;
}

.parsley-errors-list {
    display: inherit;
}

.parsley-errors-list>span {
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: #da4453;
}


/* 
*
* Form Custom
*/

.req:after {
    content: ' *';
    color: #c0392b;
    font-size: 17px;
    line-height: 15px;
}

.row .col-form-label {
    text-align: right;
}

@media only screen and (max-width: 767px) {
    .row .col-form-label {
        text-align: left;
    }
}


/* 
*
* Bootstrap tagsinput
*/

.bootstrap-tagsinput {
    box-shadow: unset;
    padding: 6px 6px 8px !important;
    width: 100%;
    border-color: #e4e9f0;
}

.bootstrap-tagsinput .tag {
    padding: 2px 6px 4px;
    width: 100%;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
}


/* 
*
* Pwstrength
*/

.pwstrength_viewport_progress {
    margin-top: 8px;
    margin-bottom: 20px;
}

.pwstrength_viewport_progress .progress {
    border-radius: .20rem;
}


/* 
*
* hide show password
*/

.hideShowPassword-toggle {
    background: transparent;
    border: 0;
    border-radius: 0.25em;
    color: #888;
    cursor: pointer;
    font-size: 0.75em;
    font-weight: bold;
    margin-right: 0.5em;
    padding: 0.5em;
    text-transform: uppercase;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.hideShowPassword-toggle:hover,
.hideShowPassword-toggle:focus {
    background-color: #eee;
    color: #555;
    outline: transparent;
}


/* 
*
* TinyMCE Restyle
*/

.tinymce-multilang .mce-tinymce .mce-top-part::before,
.tinymce-multilang .mce-tinymce {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.tinymce-multilang .mce-tinymce {
    border: 1px solid #dee2e6 !important;
    border-top: none !important;
    margin-top: -15px !important;
    width: auto !important;
}

.tinymce-multilang div.mce-fullscreen {
    z-index: 1100;
    margin-top: 0px !important;
    width: 100% !important;
}

.texteditor_controllabel {
    padding-top: 43px;
}

@media only screen and (max-width: 767px) {
    .tinymce-multilang .mce-tinymce {
        margin-top: -14px !important;
    }
    .texteditor_controllabel {
        padding-top: 0.6rem !important;
    }
}