/* NETWORK */
.air__network {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.air__network__container {
    max-width: 33.66rem;
    width: 100%;
}
